body {
	font-family: 'Prociono', serif;
	padding-top: 50px;
}


#portfolio-heading {
	/* Working image background CSS
	color: white;
	background-image: url('../tel-aviv.jpg');
	background-size: 100% 100%;
	*/
	color: white;
	background-color: DimGray;
	margin-bottom: 0px;
}

#portfolio-heading p {
	margin: 50px 20px 10px 20px;
}

#qa {
	background-color: khaki;
	color: SaddleBrown ;
	padding: 35px 25px;
}

#qa p {
	margin-left: 25px;
}

.container-fluff {
	padding: 45px 25px;
}

.small-marker {
	margin: 15px 25px;
}

#projects {
	background-color: white;
	color: black;
}


#skills {
	background-color: #2BBBAD;
}

#portfolio-about {
	background-color: grey;
}

.contact-btn {
	color: grey;
}

.contact-sec ul a {
	color: white;
}

.contact-sec ul li a:hover {
  display: inline-block;
  color: #2e9cd6;
  position: relative;
  top: -5px;
}

.contact-sec ul li {
  display: inline-block;
  padding: 1em 1.5em;
}
