body {
	color: white;
	font-family: 'Prociono', serif;
	padding-top: 50px;
}

.main-heading {
	font-family: 'Arvo', serif;
}

.container-fluff {
	padding: 45px 25px;
}

.small-marker {
	margin: 15px 25px;
}

#portfolio-heading {
	background-color: chocolate;
}

#portfolio-heading p {
	margin: 50px 20px 10px 20px;
}

#projects {
	color: black;
}


#skills {
	background-color: #2BBBAD;
}

#portfolio-about {
	background-color: grey;
}

.contact-btn {
	color: grey;
}

#contact-sec ul a {
	color: white;
}

#contact-sec ul li a:hover {
  display: inline-block;
  color: #2e9cd6;
  position: relative;
  top: -5px;
}

#contact-sec ul li {
  display: inline-block;
  padding: 1em 1.5em;
}

#favs { 
	font-family: 'Six Caps', sans-serif;
	font-size: 65px;
	color: brown;
 }


